.wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ab7af7;
}

.row__column-title-bold_text{
  composes: wrap from global;
  @extend .wrap;
  color: #000;
}
